<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <link rel="stylesheet" href="nota-comunidad.component.css">
    <title>nota comunidad</title>
</head>

<body>
    <nav><img src="assets/navbar.PNG" alt=""></nav>
    <section>
        <div class="contenedor">
            <div>
                <h2>EPEC y el Gobierno de Córdoba inauguraron el Parque de las Energías</h2>
            </div>
            <div>
                <p class="negrita">
                    Se trata de una de las acciones que el Gobierno de Córdoba lleva adelante para promover la
                    sustentabilidad en las ciudades de la provincia, bajo el concepto de “ciudad vivible”.
                </p>
            </div>
            <div>
                <p>EPEC, en conjunto con el Gobierno de la provincia de Córdoba, inauguró el Parque de las Energías, un
                    paseo recreativo y educativo abierto al público, que cuenta con un micro bosque con especies
                    nativas, y que conforma un pulmón verde en pleno corredor del Río Suquía.</p>
            </div>
            <div>
                <img src="assets/Foto1.jpg" alt="">
                <p class="small">gobernador de Córdoba, Juan Schiaretti, inauguró el Parque de las Energías. </p>
            </div>
            <div>
                <p>Este nuevo espacio, que funciona en el predio de la central Deán Funes de Epec, se encuentra sobre la
                    avenida costanera Intendente Ramón Bautista Mestre, en barrio Villa Páez de la ciudad de Córdoba.
                </p>
               
                <p>El micro bosque nativo, que ofrece un paseo por la naturaleza en plena ciudad, tiene 80 variedades de
                    especies vegetales, de las cuales la mayoría son nativas. Para armar este pulmón se plantaron más de
                    18 mil ejemplares de árboles, arbustos y plantas de distintos tamaños.</p>
            </div>
            <div>
                <img src="assets/Foto2.jpg" alt="">
                <p class="small">micro bosque posee 80 variedades de especies vegetales.</p>
            </div>
            <div>
                <p>El parque cuenta además, con una infraestructura que permite que los visitantes conozcan sobre
                    energías renovables, su implicancia en la vida cotidiana y la sostenibilidad que permiten.</p>
               
                <p>De esta manera, con cinco generadores eólicos de 600 W, otros tres de 300 W y paneles solares
                    bifaciales (generan energía en ambas caras) con una potencia instalada de 4600 W, este pequeño
                    parque de energías renovables entrega electricidad mediante generación distribuida.
                </p>
            </div>
            <div>
                <img src="assets/Foto3.jpg" alt="">
                <p class="small">Los paneles solares bifaciales generan una potencia instalada de 4600 W.</p>
            </div>
            <div>
                <p>Además, el predio tiene recorridos internos que permiten la circulación peatonal y el uso de
                    ciclovía. Posee también ciclopostas, espacios recreativos y educativos, tótems informativos, juegos
                    infantiles, estaciones solares para carga de dispositivos móviles, agua caliente y baños públicos.

                </p>
                <p> La inauguración de este novedoso Parque de las Energías estuvo a cargo del gobernador de Córdoba,
                    Juan Schiaretti; el intendente de la ciudad, Martín Llaryora; el vice intendente, Daniel Passerini;
                    el ministro de Servicios Públicos, Fabián López y el Directorio de EPEC.</p>
              

            </div>


        </div>
    </section>
<footer>
    <img src="assets/footer.PNG" alt="">
</footer>
</body>

</html>