footer{
    display: flex;
    width: 100%;
}
.cabeza{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
   
    justify-content: center;
    align-content: center;
 
    align-items: center;
    width: 100%;
    
}
body{
    margin-right: 0, 0, 0, 0;
    font-family: Roboto,sans-serif;
}
h2{
    background-color:#48b775;
}
.barra{
    display: flex;
    margin-top: 3%;
    width: 100%;
}