body{
    font-family: Roboto,sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;

}
.contenedor{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    line-height: 1.5rem;
}
img{
   
    width: 85%;
    max-width: 100%;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Roboto,sans-serif;
    width: 85%;
}
section{
    margin-left: 8%;
    display: flex;
    width: 70%;
    flex-direction: column;
    align-content: center;

}
.small{
    font-size: .8rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 0;
}
.negrita{
    font-weight: 600;
}
h2{
    color: #48b775;
    font-weight: 300;
    font-size: 2rem;
    font-family: inherit;
    line-height: 1.2;
}
footer img{
    width: 100%;
}
nav img{
    width: 100%;
}