<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <link rel="stylesheet" href="escuelas-verdes.component.css">
    <title>escuelas verdes</title>
</head>

<body>
    <nav><img src="assets/navbar.PNG" alt=""></nav>
 
    <section>
        <div class="contenedor">
            <div>
                <h2>EPEC ya capacitó a más de 500 alumnos con el programa Escuelas Verdes </h2>
            </div>
            <div>
                <p class="negrita">
                    A través de su programa educativo USORES, EPEC brindó nuevos conocimientos a alumnos de escuelas
                    primarias en el uso responsable y seguro de la energía eléctrica.
                </p>
            </div>
            <div>
                <p>EPEC, a través del equipo docente que integra su Programa Educativo para el Uso Responsable y Seguro
                    de la Energía Eléctrica (USORES), participa de Escuelas Verdes, una iniciativa de la Secretaría de
                    Gestión Ambiental y Sostenibilidad en conjunto con la Secretaría de Educación de la Municipalidad de
                    Córdoba. Mediante este programa ya se capacitaron a más de 500 estudiantes de nivel primario.</p>
            </div>
            <div>
                <img src="assets/primera-esc.jpg" alt="">
                <p class="small">USORES, el programa educativo de EPEC, participa en Escuelas Verdes. </p>
            </div>
            <div>
                <p>El programa Escuelas Verdes promueve la educación ambiental en escuelas provinciales y municipales,
                    de gestión estatal y privada, de la capital provincial. Y se estructura alrededor de 4 ejes:
                    Biodiversidad, Huertas Escolares, Gestión de Residuos y Uso Eficiente de Recursos.
                </p>

                <p>De acuerdo a su planificación, Escuelas Verdes desarrolla actividades que ayudan a concientizar sobre
                    el cuidado ambiental y promueve prácticas y hábitos sostenibles, pensados de tal manera que puedan
                    tener una recepción positiva en el grupo etario al que van dirigidos.</p>
                <p>EPEC, con su programa USORES, trabaja en esta propuesta a partir del eje Uso Eficiente de Recursos y
                    dicta talleres destinados a alumnos de cuarto, quinto y sexto grado. El año pasado la empresa
                    desarrolló estos talleres educativos en los espacios que el Museo Usina Molet tiene preparados para
                    actividades de este tipo.</p>
            </div>
            <div>
                <img src=".assets/segunda-esc.jpg" alt="">
                <p class="small">Este año los talleres del programa Escuelas Verdes se realizan en los colegios
                    inscriptos.</p>
            </div>
            <div>
                <p>Este año los talleres se realizan en las escuelas inscriptas en el programa “Escuelas Verdes”. Hasta
                    el momento, el equipo docente de USORES visitó las escuelas Vaz Ferreira, Bandera Argentina, Padre
                    Raggi, Centro Educativo Coronel Olmedo, San Antonio de Padua, Tercilio Gambino y Dante Alighieri.
                </p>

                <p>Las jornadas educativas incluyen una exposición que presenta imágenes y videos para explicar la
                    cadena productiva de la energía eléctrica y el impacto ambiental que tienen la generación y consumo
                    excesivo de la energía.
                </p>
            </div>
            <div>
                <img src="assets/tercera-esc.jpg" alt="">
                <p class="small">USORES propone a los alumnos trabajar sobre el impacto ambiental que tiene el consumo
                    energético.</p>
            </div>
            <div>
                <p>Además, se propone un diálogo con los alumnos, en el que ellos pueden contar sus experiencias, dudas
                    e inquietudes y se les plantean nuevas prácticas para un consumo responsable.

                </p>
                <p> En una segunda instancia, el taller invita al “Juego de la Energía”, una versión del Juego de la Oca
                    adaptado a la temática del cuidado energético. En esta propuesta los alumnos pueden avanzar
                    casilleros en la medida en que responden de forma correcta las preguntas relacionadas a los
                    conceptos expuestos en la primera parte del taller.</p>
                <div>
                    <img src="assets/cuarta-esc.jpg" alt="">
                    <p class="small">El juego de la Energía es una de las propuestas que lleva el equipo docente de
                        USORES a las escuelas.</p>
                </div>
                <p>De esta manera, USORES ya capacitó a más de 500 alumnos, a través de sus talleres sobre uso
                    responsable y seguro de la energía eléctrica, pertenecientes a escuelas de la ciudad de Córdoba y
                    tiene previsto más visitas a otras instituciones educativas para el resto del año.</p>
            </div>


        </div>
    </section>
    <footer>
        <img src="assets/footer.PNG" alt="">
    </footer>
</body>

</html>